.about-page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
  letter-spacing: var(--tracking-normal);
  font-size: var(--text-base);
}

.about-page,
.about-page * {
  text-align: left;
}

