
.projectsDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.projectsDiv--expanded {
  gap: 2rem;
  margin-top: 0;
}

.projectsDiv--expanded .card {
  flex: 1 1 400px;
}

.projectsDiv--expanded .card-thumb {
  height: 240px;
}